body {
  background-image: url("../img/background.png");
  background-repeat: repeat;
}

.container {
  width: 75%;
  max-width: 660px;
  height: 470px;
  border: 1px solid white;
  display: block;
  margin: 0 auto;
}

/****************************
LOGO MODULE
****************************/
.logo {
  width: 100%;
  height: 15%;
  border: 1px solid green;
}

.logo img {
  height: 80px;
}

/**************************
MAIN MODULE
*************************/
.main {
  position: relative;
  width: 100%;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-shadow: -25px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -25px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -25px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#about_main {
  position: absolute;
  width: 50%;
  height: 75%;
  top: 15px;
  left: 25px;
  -webkit-box-shadow: -38px 30px 0px -31px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -38px 30px 0px -31px rgba(0, 0, 0, 0.75);
  box-shadow: -38px 30px 0px -31px rgba(0, 0, 0, 0.75);
  padding-left: 10px;
}

#about_main p {
  color: red;
}

#about_main img {
  float: left;
  height: 100px;
  margin-right: 10px;
}

#about_side {
  position: absolute;
  width: 30%;
  height: 60%;
  left: 430px;
  top: 15px;
  background-color: yellow;
  -webkit-box-shadow: -10px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#resume {
  position: absolute;
  width: 80%;
  height: 60%;
  top: 15px;
  left: 25px;
  -webkit-box-shadow: -10px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 0px 5px 0px rgba(0, 0, 0, 0.75);
  display: none;
}

#portfolio {
  position: absolute;
  width: 80%;
  height: 60%;
  background-color: green;
  top: 15px;
  left: 25px;
  -webkit-box-shadow: -10px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 0px 5px 0px rgba(0, 0, 0, 0.75);
  display: none;
}

#contact {
  position: absolute;
  width: 80%;
  height: 60%;
  background-color: green;
  top: 15px;
  left: 25px;
  -webkit-box-shadow: -10px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 0px 5px 0px rgba(0, 0, 0, 0.75);
  display: none;
}

.hidden {
  display: none;
}

/***************************
NAVBAR MODULE
**************************/
.navbar {
  width: 100%;
  height: 10%;
  border: 1px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/***************************
MENU BUTTONS
**************************/
.button {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  background-color: yellow;
  z-index: 1;
}

/**************************
MOZAIK PANEL
*************************/
.panel {
  background-image: url("../img/panel_bckg.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 47px;
  width: 10%;
  display: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#btnResume {
  background-color: green;
  background-size: contain;
}

#btnAbout {
  background-size: contain;
}

#btnPortfolio {
  background-size: contain;
}

#btnContact {
  background-size: contain;
}
