#btnResume {
  background-color: green;
  // background-image: url('../img/resume_icon.png');
  background-size: contain;
}
#btnAbout {
  // background-image: url('../img/about_icon.png');
  background-size: contain;
}
#btnPortfolio {
  // background-image: url('../img/portfolio_icon.png');
  background-size: contain;
}
#btnContact {
  // background-image: url('../img/contact_icon.png');
  background-size: contain;
}
