#btnResume {
  justify-content: center;
  align-items: center;
  background-color: rgb(115, 119, 120);
}
#btnAbout {
  justify-content: center;
  align-items: center;
  background-color: rgb(115, 119, 120);
}
#btnPortfolio {
  justify-content: center;
  align-items: center;
  background-color: rgb(115, 119, 120);
}
#btnContact {
  justify-content: center;
  align-items: center;
  background-color: rgb(115, 119, 120);
}
