#btnResume, #btnAbout, #btnPortfolio, #btnContact {
  justify-content: center;
  align-items: center;
  background-color: rgb(115, 119, 120);
  @include box-shadow-reset;
}

.activeBtn { //klasa uzywana do oznaczania aktywnego buttona

}
.inactiveBtn { //klasa uzywana tylko do oznaczania aktywnego buttona
  
}
