#resume_main {
  position: absolute;
  width: 30%;
  height: 75%;
  top: 15px;
  left: 25px;
  @include box-shadow;
  padding-left: 10px;
  z-index: 0;
  display: none;

}

#resume_main p {
  font-size: 12px;
  display: inline-block;
  line-height: 0px;
  letter-spacing: 0;
  word-spacing: 0;
}

#resume_main a {
  font-size: 10px;
  text-decoration: none;
}

#fullResumeLink {
  letter-spacing: 0;
  word-spacing: 0;
  border-top: 1px dashed #737778;
}

#resume_main i {
 color: #737778;
}

#resume_side {
  position: absolute;
  width: 50%;
  height: 60%;
  left: 263px;
  top: 66px;
  @include box-shadow;
  z-index: 0;
  display: none;
  overflow-y: scroll;
  padding-left: 5px;
}
  #resume_side p {
    font-size: 11px;
  }

#expand {
  position: fixed;
  background-color: #E9F0F2;
  opacity: 0.2;
  top: 151px;
  font-size: 14px;
  -webkit-transition: font-size 2s;
   -moz-transition: font-size 2s;
     -o-transition: font-size 2s;
        transition: font-size 2s;

}
#expand:hover {
  opacity: 1;
  font-size: 40px;
  background-color: transparent;
}

#expanded {
  width: 70%;
  height: 100%;
  z-index: 2;
  background-color: white;
  position: fixed;
  top: 0;
  left: 15%;
  padding: 20px;
  display: none;
}
  #expanded #closeBtn {
    width: 15px;
    height: 15px;
    position: fixed;
    top: 0;
  }


#progressBarHTML {
    width: 90%;
    height: 22px;
    font-size: 10px;
    margin-top: 5px;
}

#progressBarHTML div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px;
    width: 0;
    background-color: #0099ff;
    padding-right: 10px;

}

#progressBarCSS {
    width: 90%;
    height: 22px;
    font-size: 10px;
    margin-top: 5px;

}
#progressBarCSS div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px;
    width: 0;
    background-color: #0099ff;
    padding-right: 10px;
}

#progressBarJS {
    width: 90%;
    height: 22px;
    font-size: 10px;
    margin-top: 5px;
}

#progressBarJS div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px;
    width: 0;
    background-color: #0099ff;
    padding-right: 10px;
}

#progressBarPS {
    width: 90%;
    height: 22px;
    font-size: 10px;
    margin-top: 5px;
}
#progressBarPS div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px;
    width: 0;
    background-color: #0099ff;
    padding-right: 10px;
}
