//ustawia wysokosc glownego kontenera
$container_max_width: 660px;
$container_max_height: 470px;

// ustala wysokosc i szerokosc pojedynczego panelu
$panel_height: $container_max_height/10;
$panel_width: $container_max_width/10;

//ustawia kolory
$activeBtnColor: rgb(233,240,242);
$inactiveBtnColor: rgb(115,119,120);
